.jumbotron {
  text-align: center;
}

.schedule-event-list {
  display: table;

  .schedule-event-item {
    display: table-row;
    .schedule-event-time, .schedule-event-name {
      display: table-cell;
    }
    .schedule-event-time {
      padding: 0 1em 0 0;
    }
  }
}
