nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}
.sorta-jumbotron {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  .name-container-container {
    margin: 0 auto;
    .name-container {
      .name {
        font-size: 1.75em;
        color: #566f28;
        vertical-align: middle;
        max-width: 100%;
        padding: 1em;
        &.heart {
          max-height: 3em;
          padding: 1em 0;
        }
      }
    }
  }
}

.date {
  color: #3c5809;
  font-size: 1.3em;
  padding-bottom: 1.5em;
}

.our-adventure-img {
  max-width: 100%;
  padding: 0 2em 3em 2em;
}

.header-img-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2em;
  img {
    max-width: 100%;
    margin: 0 auto;
  }
}

// Possible background images:
// https://www.pexels.com/photo/abstract-ancient-antique-art-235985/
// https://www.pexels.com/photo/background-board-carpentry-construction-207253/
// https://www.pexels.com/photo/wood-texture-background-pine-82256/
body {
  background-image: url('/images/woodgrain-bkg.jpg');
  background-size: 100%;
}

.wedding-faq-qna {
  .wedding-faq-q {
    font-style: italic;
  }
  .wedding-faq-a {
    padding-bottom: 1em;
  }
}

.schedule-event-list {
  display: table;

  .schedule-event-item {
    display: table-row;
    .schedule-event-time, .schedule-event-name {
      display: table-cell;
    }
    .schedule-event-time {
      padding: 0 1em 0 0;
    }
  }
}
